*{
    margin: 0;
    padding: 0;
}
.rightside_maindiv{
   display: flex;
   flex-direction: column;
}

.ul_class{
    display: flex;
   flex-direction: row;
   border-bottom: 2px solid black;
}
.component_li{
    margin: 5px;
    padding: 2px;
    padding-left: 6px;
    padding-right: 6px;
    font-size: 18px;
    font-weight: bold;
    color: red;
}
.Ac_btn{
    background-color: #428BCA;
    color: white;
    border-radius: 15px;
    width: 25%;
    font-weight: bold;
    min-height: 30px;
    margin: 4px;
    font-size: 16px;

}
.grid_1{
   
    max-height: max-content;
    background: rgb(255, 255, 255);
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 0 15px 15px 15px;
    margin-bottom: 7px;
    padding: 3px;
    
}
.grid1_span{
    padding: 0 10px;
    font-size: 16px;
    font-weight: bold;
    color: #187498;
    padding-left: 6px;
    background-color: white;
    width: max-content;
    margin-top: 7px;
    margin-left: 5px;
    border-radius: 10px 10px 0px 0px;
}
.grid1_table{
    width: 100%;
    border: none;
    border-collapse: collapse;
   
    
}
/* .grid1_ul{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-bottom: 2px solid black;
    border: none;
    list-style: none;
   
}
.grid1_li{
    margin: 2px;
    padding: 2px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    border: none;
   
} */
.grid_2{
   
    max-height: max-content;
    background: rgb(255, 255, 255);
    border-radius: 15px;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 0 15px 15px 15px;
    margin-bottom: 7px;
    padding: 3px;
}
.grid2_span{
    padding: 0 10px;
    font-size: 16px;
    font-weight: bold;
    color: #187498;
    padding-left: 6px;
    background-color: white;
    width: max-content;
    margin-top: 7px;
    margin-left: 5px;
    border-radius: 10px 10px 0px 0px;
}
/* .grid2_ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-bottom: 2px solid black;
    list-style: none;
}
.grid2_li{
    margin: 5px;
    padding: 2px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    display: flex;
   align-items: center;

} */
.grid2_tr{
    white-space: nowrap;
}
.grid2_th {
    width: 9vw;
    overflow: hidden;
    text-align: center;
    border-bottom: 1px solid #aba8a8;
    width: fit-content;
   font-size: 15px;
  
   
}

.grid2_td{
    width: 9vw;
    overflow: hidden;
    text-align: center;
    border-bottom: 1px solid #aba8a8;
    border-spacing: 3px;
    font-size: 12px;
    font-weight: 400;
    border-spacing: 3px;
    width: fit-content;
    padding: 0.5px;
    white-space: nowrap;
}

.grid1_table{
    width: 100%;
    border: none;
    table-layout: auto;
}
  
.form_popup{
    width: auto;
}
.Ac_form{
    margin-left: 10px;
    margin-right: 10px;
    padding: 5px;
    font-size: 16px;
    font-weight: bold;

}
.Ac_forminput{
    width: 90%;
    margin-left: 10px;
    margin-right: 10px;
    padding: 5px;
}
.ACform_tbn{
    margin: 10px;
    width: 3rem;
    height: 2rem;
    background-color: blueviolet;
    font-size: 18px;
    font-weight: bold;
    color: white;
    border: none;

}
.BS_btn{
    width: fit-content;
    position: relative;
    right: -80%;
    width: 3rem;
    background-color: #4184F3;
    border-radius: 7px;font-weight: bold;
    color: white;
}
.Sell_btn{
    background-color: #Df514C;
    color: white;

}
.data_tr{
    display: flex;
    justify-content: space-around;
    border: none;
}
.data_td{
    border: none;
    text-align: center;
}
.pnl_Total{
    font-size: 12px;
    font-weight: bold;
    background-color: #e1e0e0;
    border-radius: 5px;
    

}